@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import "tailwindcss";

@theme {
  --color-turkyie: #E30A17;

  --color-dracula-nosferatu-50: #cdd0e4;
  --color-dracula-nosferatu-100: #b5bad6;
  --color-dracula-nosferatu-200: #9ea4c8;
  --color-dracula-nosferatu-300: #888fb8;
  --color-dracula-nosferatu-400: #727aa8;
  --color-dracula-nosferatu-500: #5f6795;
  --color-dracula-nosferatu-600: #53597c;
  --color-dracula-nosferatu-700: #454a64;
  --color-dracula-nosferatu-800: #373a4d;
  --color-dracula-nosferatu-900: #282a36;
  --color-dracula-nosferatu: #282a36;

  --color-dracula-aro-50: #f7f7fb;
  --color-dracula-aro-100: #dfe1ed;
  --color-dracula-aro-200: #c7cadf;
  --color-dracula-aro-300: #b1b5d0;
  --color-dracula-aro-400: #9ba0c0;
  --color-dracula-aro-500: #858bb0;
  --color-dracula-aro-600: #71779f;
  --color-dracula-aro-700: #606689;
  --color-dracula-aro-800: #525771;
  --color-dracula-aro-900: #44475a;
  --color-dracula-aro: #44475a;

  --color-dracula-cullen-50: #f8f8f2;
  --color-dracula-cullen-100: #eaeada;
  --color-dracula-cullen-200: #dcdcc3;
  --color-dracula-cullen-300: #cdcdac;
  --color-dracula-cullen-400: #bdbd96;
  --color-dracula-cullen-500: #adad81;
  --color-dracula-cullen-600: #9c9c6c;
  --color-dracula-cullen-700: #85855d;
  --color-dracula-cullen-800: #6d6d4f;
  --color-dracula-cullen-900: #565641;
  --color-dracula-cullen: #f8f8f2;

  --color-dracula-vonCount-50: #f0f2f8;
  --color-dracula-vonCount-100: #d7dcec;
  --color-dracula-vonCount-200: #bec6df;
  --color-dracula-vonCount-300: #a6b0d1;
  --color-dracula-vonCount-400: #8f9bc3;
  --color-dracula-vonCount-500: #7886b4;
  --color-dracula-vonCount-600: #6272a4;
  --color-dracula-vonCount-700: #54628c;
  --color-dracula-vonCount-800: #485273;
  --color-dracula-vonCount-900: #3b425a;
  --color-dracula-vonCount: #6272a4;

  --color-dracula-vanHelsing-50: #fafeff;
  --color-dracula-vanHelsing-100: #d4f8ff;
  --color-dracula-vanHelsing-200: #aff0fe;
  --color-dracula-vanHelsing-300: #8be9fd;
  --color-dracula-vanHelsing-400: #67e1fb;
  --color-dracula-vanHelsing-500: #44d9f8;
  --color-dracula-vanHelsing-600: #22d0f5;
  --color-dracula-vanHelsing-700: #0dbfe5;
  --color-dracula-vanHelsing-800: #0ca0bf;
  --color-dracula-vanHelsing-900: #0c819a;
  --color-dracula-vanHelsing: #8be9fd;

  --color-dracula-blade-50: #e2ffe9;
  --color-dracula-blade-100: #bcffcd;
  --color-dracula-blade-200: #97feb1;
  --color-dracula-blade-300: #73fc96;
  --color-dracula-blade-400: #50fa7b;
  --color-dracula-blade-500: #2df760;
  --color-dracula-blade-600: #0cf346;
  --color-dracula-blade-700: #0ccd3d;
  --color-dracula-blade-800: #0ba833;
  --color-dracula-blade-900: #0a8329;
  --color-dracula-blade: #50fa7b;

  --color-dracula-morbius-50: #ffefdd;
  --color-dracula-morbius-100: #ffdcb7;
  --color-dracula-morbius-200: #ffca92;
  --color-dracula-morbius-300: #ffb86c;
  --color-dracula-morbius-400: #fda648;
  --color-dracula-morbius-500: #fb9325;
  --color-dracula-morbius-600: #f38107;
  --color-dracula-morbius-700: #cd6d08;
  --color-dracula-morbius-800: #a75a08;
  --color-dracula-morbius-900: #824707;
  --color-dracula-morbius: #ffb86c;

  --color-dracula-buffy-50: #ffeaf6;
  --color-dracula-buffy-100: #ffc4e6;
  --color-dracula-buffy-200: #ff9fd6;
  --color-dracula-buffy-300: #ff79c6;
  --color-dracula-buffy-400: #fd55b6;
  --color-dracula-buffy-500: #fb31a5;
  --color-dracula-buffy-600: #f80e95;
  --color-dracula-buffy-700: #d90880;
  --color-dracula-buffy-800: #b3086b;
  --color-dracula-buffy-900: #8e0855;
  --color-dracula-buffy: #ff79c6;

  --color-dracula-dracula-50: #fefeff;
  --color-dracula-dracula-100: #e9dafe;
  --color-dracula-dracula-200: #d3b6fc;
  --color-dracula-dracula-300: #bd93f9;
  --color-dracula-dracula-400: #a771f6;
  --color-dracula-dracula-500: #924ff2;
  --color-dracula-dracula-600: #7d2eed;
  --color-dracula-dracula-700: #6916e0;
  --color-dracula-dracula-800: #5914bb;
  --color-dracula-dracula-900: #491298;
  --color-dracula-dracula: #bd93f9;

  --color-dracula-marcelin-50: #ffecec;
  --color-dracula-marcelin-100: #ffc6c6;
  --color-dracula-marcelin-200: #ffa0a0;
  --color-dracula-marcelin-300: #ff7b7b;
  --color-dracula-marcelin-400: #ff5555;
  --color-dracula-marcelin-500: #fd3131;
  --color-dracula-marcelin-600: #fb0e0e;
  --color-dracula-marcelin-700: #dd0606;
  --color-dracula-marcelin-800: #b70707;
  --color-dracula-marcelin-900: #910707;
  --color-dracula-marcelin: #ff5555;

  --color-dracula-lincoln-50: #fefff8;
  --color-dracula-lincoln-100: #fafed3;
  --color-dracula-lincoln-200: #f6fcaf;
  --color-dracula-lincoln-300: #f1fa8c;
  --color-dracula-lincoln-400: #ebf769;
  --color-dracula-lincoln-500: #e5f347;
  --color-dracula-lincoln-600: #dfef26;
  --color-dracula-lincoln-700: #ccdd12;
  --color-dracula-lincoln-800: #abb811;
  --color-dracula-lincoln-900: #899410;
  --color-dracula-lincoln: #f1fa8c;
}


@page {
	size: auto;
	margin: 0mm;
}

@layer base {
  ::selection {
    @apply bg-dracula-dracula text-dracula-cullen;
  }
}

@layer components {
  .squiggle-link {
    padding-bottom: 3px;
    text-decoration: none;
  }

  .squiggle-link:hover {
    border-bottom-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle%3E.st0{animation:shift .3s linear infinite;}@keyframes shift{from{transform:translateX(0);}to{transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.2em;
    background-size: auto 5px;
    background-repeat: repeat-x;
  }
}

@layer components {
  .squiggle-hr {
    border: none;
    height: 5px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle%3E.st0{animation:shift .3s linear infinite;}@keyframes shift{from{transform:translateX(0);}to{transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: auto 5px;
  }
}

@layer components {
    .expressive-code {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    --ec-frm-frameBoxShdCssVal: none;
  }
}

.task-list-item::before {
	@apply hidden;
}

.task-list-item {
	@apply list-none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

kbd {
	font-family: monospace;
	background: var(--a2);
	padding: calc(var(--unit) * 0.5);
	border-radius: calc(var(--unit) * 0.5);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin-slow {
	animation: spin 10s linear infinite;
}
