---
import BaseLayout from "../layouts/BaseLayout.astro";
import siteMetadata from "../data/siteMetadata";

import Link from "../components/Link.astro";
---

<BaseLayout
	title={siteMetadata.name}
	description={siteMetadata.description}
	type="website"
	slug="/"
>
	<main>
		<section class="p-6 border border-yellow-500">
			<h1 class="text-2xl font-semibold mb-4">
				Hey, I'm a Full-Stack Developer from Türkiye 🇹🇷
			</h1>
			<p class="leading-relaxed">
				A self-taught developer who began his journey back in 2013. I'm
				passionate about
				<strong class="text-red-500"> open-source software</strong> and
				<strong class="text-red-500"> self-hosting</strong>
			</p>
			<p class="mt-4">
				If you're interested in working together, check out my
				<Link href="/ahmetalmaz-resume.pdf" class="underline"> resume</Link>
			</p>
		</section>

		<section class="p-6 border border-yellow-500">
			<h2 class="text-xl font-semibold mb-4">🧰 Tech Stack</h2>
			<ul class="grid grid-cols-2 md:grid-cols-3 gap-2 list-inside">
				<li>
					<Link href="https://astro.build/" class="underline">Astro</Link>
				</li>

				<li><Link href="https://react.dev/" class="underline">React</Link></li>
				<li>
					<Link href="https://tailwindcss.com/" class="underline"
						>Tailwind CSS</Link
					>
				</li>
				<li>
					<Link href="https://www.typescriptlang.org/" class="underline"
						>TypeScript</Link
					>
				</li>
				<li><Link href="https://bun.sh/" class="underline">Bun</Link></li>
				<li><Link href="https://mdxjs.com/" class="underline">MDX</Link></li>

				<li><Link href="https://turso.tech/" class="underline">Turso</Link></li>
				<li>
					<Link href="https://orm.drizzle.team/" class="underline"
						>Drizzle ORM</Link
					>
				</li>
				<li>
					<Link href="https://workers.cloudflare.com/" class="underline"
						>Cloudflare Workers</Link
					>
				</li>
			</ul>
		</section>

		<section class="p-6 border border-yellow-500">
			<h2 class="text-xl font-semibold mb-4">💻 Currently Using</h2>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
				<div>
					<h3 class="text-lg font-medium mb-2">Hardware</h3>
					<ul class="list-inside space-y-1">
						<li>
							<Link
								href="https://support.apple.com/en-gb/111946"
								class="underline">MacBook Pro (Retina, 13-inch, Late 2013)</Link
							>
						</li>
						<li>
							<Link
								href="https://www.logitech.com/en-us/shop/p/m170-wireless-mouse.910-006864"
								class="underline">Logitech M170 Mouse</Link
							>
						</li>
					</ul>
				</div>

				<div>
					<h3 class="text-lg font-medium mb-2">Coding</h3>
					<ul class="list-inside space-y-1">
						<li>
							<Link href="https://ubuntu.com/" class="underline">Ubuntu</Link>
						</li>
						<li>
							<Link
								href="https://www.mozilla.org/en-US/firefox/developer/"
								class="underline">Firefox Developer Edition</Link
							>
						</li>
						<li>
							<Link href="https://code.visualstudio.com/" class="underline"
								>Visual Studio Code</Link
							>
						</li>
						<li>
							<Link
								href="https://github.com/features/copilot/"
								class="underline">Copilot</Link
							>
						</li>
						<li>
							<Link href="https://draculatheme.com/" class="underline"
								>Dracula</Link
							>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="p-6 border border-yellow-500">
			<h2 class="text-xl font-semibold mb-4">📡 Find me on</h2>
			<ul class="flex gap-4">
				<li>
					<Link href="https://github.com/music47ell" class="underline"
						>GitHub</Link
					>
				</li>
				<li>
					<Link href="https://www.linkedin.com/in/music47ell/" class="underline"
						>LinkedIn</Link
					>
				</li>
				<li>
					<Link href="/feed.xml" class="underline">RSS</Link>
				</li>
			</ul>
		</section>
	</main>
</BaseLayout>
