---
import NowPlaying from "./NowPlaying.astro";
import NowWatching from "./NowWatching.astro";
import Online from "./Online";

const isProduction = import.meta.env.PROD;
---

<footer
	class="container mx-auto flex max-w-screen-sm gap-4 flex-col py-8 px-4 print:my-0 print:items-center print:justify-center print:py-0 print:px-0 print:hidden"
>
	<div class="grid grid-cols-1 gap-y-2">
		{isProduction ? <Online client:load/> : null}
		<!-- <NowPlaying /> -->
		<!-- <NowWatching /> -->
	</div>
</footer>
