---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a">;

const { class: className, rel, href } = Astro.props;

const url = new URL(href ?? "", Astro.url);
const isExternal = url.host !== Astro.url.host;
const isCurrent = url.href === Astro.url.href;

const faviconUrl = isExternal
	? `https://favicon.controld.com/${url.hostname}`
	: null;
---

<a
	class:list={[
		className,
		isExternal && "inline-flex items-center gap-1",
		"text-red-500",
	]}
	aria-current={isCurrent ? "page" : null}
	rel={`${rel ?? ""}${isExternal ? " noopener noreferrer" : ""}`}
	{...Astro.props}
>
	{
		isExternal && (
			<img
				src={faviconUrl}
				alt={url.hostname}
				width="16"
				height="16"
				loading="lazy"
				class="w-4 h-4 inline-block"
			/>
		)
	}
	<slot />
</a>
