---
const { ...attrs } = Astro.props;
---

<a
	class="inline-flex items-center text-red-500 gap-2 underline bg-gray-500/10 hover:bg-red-500/20 rounded-md px-1 transition-colors"
	{...attrs}
>
	<slot />
</a>
